# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/ros_nodes/.vscode/c_cpp_properties.json
src/arduino_recipes/.vscode/settings.json
src/arduino_recipes/.vscode/c_cpp_properties.json
src/ros_nodes/.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/arduino.json
